@using LeviathanRipBlog.Web.Settings
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - LeviathanRipBlog</title>
        <link rel="icon" type="image/png" href="/beyblade.gif">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
        <link rel="stylesheet" href="~/LeviathanRipBlog.Web.styles.css" asp-append-version="true" />
    </head>
    <body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 navbar-purple">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <i class="fa-solid fa-hat-wizard pe-2"></i> LeviathanRip Blog</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Campaign" asp-action="Campaigns">Campaigns</a>
                        </li>
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Campaign" asp-action="MyCampaigns">My Campaigns</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @await Html.PartialAsync("_MessagePartial")
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <footer class="border-top footer text-muted py-4 bg-dark" style="bottom:0;position: fixed;width: 100%;  z-index: 1000;">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="col-md-4 d-flex align-items-center">
                &copy; @DateTime.Now.Year <i class="fa-solid fa-hat-wizard px-2"></i>@ApplicationSettings.APPLICATION_NAME
            </div>
            
            <div class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto">
                George Bjork
            </div>
            
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a href="https://github.com/georgebjork/LeviathanRipBlog" class="text-white" style="text-decoration: none;"><i class="fa-brands fa-github pe-2 fa-lg text-muted"></i></a></li>
                <li class="ms-3"><a href="https://www.linkedin.com/in/georgebjork/" class="text-white" style="text-decoration: none;"><i class="fa-brands fa-linkedin pe-2 fa-lg text-muted"></i></a></li>
            </ul>
        </div>
       
    </footer>

        <script src="~/lib/htmx/htmx.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/tinymce/js/tinymce/tinymce.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
