@using LeviathanRipBlog.Components.Pages.Campaign.Models


<EditForm method="post" Model="Model" OnValidSubmit="SubmitCallBack"  FormName="campaign-form">
    <AntiforgeryToken />

    <DataAnnotationsValidator />
    
    <div class="form-floating mb-3 mt-3">
        <InputText id="name" @bind-Value="Model!.Name" class="form-control" aria-required="true" placeholder="Campaign Name"></InputText>
        <label for="name">Campaign Name</label>
        <ValidationMessage For="() => Model!.Name" class="text-danger" />
    </div>
    
    <div class="form-floating mb-3">
        <InputTextArea id="description" @bind-Value="Model!.Description" class="form-control" aria-required="true" placeholder=""  rows="15"></InputTextArea>
        <label for="description">Campaign Description</label>
        <ValidationMessage For="() => Model.Description" class="text-danger"/>
    </div>
    
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
    
</EditForm>

@code {
    [Parameter]
    public CampaignFormModel? Model { get; set; } = new();
    
    [Parameter]
    public EventCallback<EditContext> SubmitCallBack { get; set; }
    
}