@using LeviathanRipBlog.Components.Pages.Campaign.Models


<EditForm method="post" Model="Model" OnValidSubmit="SubmitCallBack"  FormName="campaign-form">
    <AntiforgeryToken />
    <DataAnnotationsValidator />
    
    <div class="row pb-3 pt-3">
        <div class="col-lg-12">
            <InputText id="name" @bind-Value="Model!.Name" class="form-control" aria-required="true" placeholder="Campaign Name"></InputText>
            <ValidationMessage For="() => Model!.Name" class="text-danger"/>
        </div>
    </div>
    
    <div class="row">
        <div class="pb-3">
            <InputTextArea id="description" @bind-Value="Model!.Description" class="form-control" placeholder="A brief campaign description goes here." rows="5"></InputTextArea>
            <ValidationMessage For="() => Model.Description" class="text-danger"/>
        </div>
    </div>
    
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
    
</EditForm>

@code {
    [Parameter]
    public CampaignFormModel? Model { get; set; } = new();
    
    [Parameter]
    public EventCallback<EditContext> SubmitCallBack { get; set; }
    
}