@model LeviathanRipBlog.Web.Data.ApplicationUser

<tr id="user-@Model.Id">
    <td>@Model.Id</td>
    <td>@Model.Email</td>
    <td>
        <div class="d-flex justify-content-evenly">
            @if (Model.IsAdmin)
            {
                <button class="btn btn-outline-success btn-sm" type="button" onclick="this.innerText='Applying role...'; this.disabled=true;"
                        hx-trigger="click"
                        hx-post="/update-user-role/@Model.Id"
                        hx-swap="outerHTML"
                        hx-target="#user-@Model.Id">
                    Revoke Admin
                </button>
            }
            else
            {
                <button class="btn btn-outline-success btn-sm" type="button" onclick="this.innerText='Applying role...'; this.disabled=true;"
                        hx-trigger="click"
                        hx-post="/update-user-role/@Model.Id"
                        hx-swap="outerHTML"
                        hx-target="#user-@Model.Id">
                    Promote Admin
                </button>
            }

            <button class="btn btn-outline-danger btn-sm" type="button" onclick="this.innerText='Removing...'; this.disabled=true;"
                    hx-trigger="click"
                    hx-post="/remove-user/@Model.Id"
                    hx-swap="outerHTML"
                    hx-target="#user-@Model.Id">
                
                <i class="fa-solid fa-trash pe2 "></i> Remove User
            </button>
        </div>
    </td>
</tr>