@model LeviathanRipBlog.Web.Models.Campaign.ViewModels.CampaignViewModel

@{
  var count = 1;
}

<section>
  
  <div class="container py-5">
    <div class="main-timeline">

      @foreach (var blog in Model.Blogs)
      {
        <div class="timeline @(++count % 2 == 0 ? "left" : "right")">
          <div class="card">
            <div class="card-body p-4">
              <h3>@blog.title</h3>
              <p class="mb-0">Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto
                mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua
                dignissim per, habeo iusto primis ea eam.</p>
            </div>
          </div>
        </div>
      }
    
    </div>
  </div>
</section>