@using LeviathanRipBlog.Web.Models.ViewModels.Home
@model RecentBlogsViewModel


@{
    var firstBlog = Model.Blogs.FirstOrDefault();
}

@if (firstBlog != null)
{
    <div class="row">
        <div class="col-lg-12">
            @await Html.PartialAsync("Blog/_BlogCard", firstBlog)
        </div>
    </div>
}

<div class="row">
    @foreach (var blog in Model.Blogs.Skip(1))
    {
        <div class="col-lg-12 col-xl-6">
            @await Html.PartialAsync("Blog/_BlogCard", blog)
        </div>
    }
</div>