@rendermode InteractiveServer
@page "/campaign/{CampaignId:long}"
@using LeviathanRipBlog.Data.Repositories
@using LeviathanRipBlog.Data.Models

@inject ILogger<CreateCampaign> Logger
@inject ICampaignRepository CampaignRepository
@inject IBlogRepository BlogRepository


@if (_campaign is null)
{
    <LoadingSpinner />
}
else
{

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">@_campaign.name</h1>
            <div class="lead fs-5" style="white-space: pre-wrap;">@_campaign.description</div>
            <hr class="my-4">
        </div>
    </div>


    <div class="row">

        @if (_blogs is null)
        {
            <LoadingSpinner/>
        }
        else
        {
            @if (_blogs.Count <= 0)
            {
                <div class="d-flex justify-content-center align-items-center">
                    <p class="text-secondary">You have no blogs made yet.</p>
                </div>
                @if (_userId == _campaign.owner_id)
                {
                    <div class="d-flex justify-content-center align-items-center">
                        <a class="btn btn-primary" href="blog/@CampaignId/new"> <i class="fa-solid fa-plus pe-2"></i> Create Blog </a>
                    </div>

                }
            }
            else
            {
                <AuthorizeView>
                    <Authorized>
                        @if (_userId == _campaign.owner_id)
                        {
                            <div class="d-flex justify-content-end align-items-center pb-3">
                                <a class="btn btn-primary" href="blog/@CampaignId/new"> <i class="fa-solid fa-plus pe-2"></i> Create Blog </a>
                            </div>
                        }
                    </Authorized>
                </AuthorizeView>
                <div class="row">
                    @foreach (var blog in _blogs)
                    {
                        <div class="col-lg-4">
                            @if (_userId == _campaign.owner_id)
                            {
                                <BlogCard Blog="@blog" IsOwner="true"/>
                            }
                            else
                            {
                                <BlogCard Blog="@blog"/>
                            }
                        </div>
                        
                        
                    }
                </div>
            }
        }
    </div>

}



@code {

    [Parameter] public long CampaignId { get; set; }

    private campaign? _campaign;
    private List<blog>? _blogs;
    private string? _userId = "";

    protected override async Task OnInitializedAsync()
    {

        // Get the id of the user accessing this 
        _userId = await UsernameRetriever.Identity;

        _campaign = await CampaignRepository.GetCampaignById(CampaignId);

        if (_campaign is null) NavigationManager.NavigateTo("/");

        if (_campaign == null)
        {
            NavigationManager.NavigateTo("/campaigns");
            Logger.LogWarning("Campaign id {CampaignId} not found", CampaignId);
        }
        else
        {
            await GetBlogs();
        }
    }

    private async Task GetBlogs()
    {
        _blogs = await BlogRepository.GetCampaignBlogs(CampaignId);
    }

}